@import 'src/styles/main.scss';

.home_container{
  display: flex;
  padding-top: 100px;  

  .main_container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .controls-wrapper{
      display: flex;
      gap: 1rem;
    }

    .material-symbols-outlined{
      cursor: pointer;
    }

    .transform-component-module_wrapper__SPB86{
      margin: 0 auto;
      position: relative;
      width: 80%;
      display: flex;
      align-items: center;

      @media (max-width: 740px){
        width: 90%;
      }
    
      .skeleton-full{
        margin: 0 auto;
        max-width: 650px;
        width: 55%;

        @media (max-width: 740px){
          width: 300px;
        }
      }
    
      .joelho{
        position: absolute;
        width: 23px;
        height: 20px;
        bottom: 224px;
        border-radius: 10px;
        left: 324px;

        @media (max-width: 740px){
          bottom: 208px;
          left: 176px;
        }
      
        &:hover{
          .joelho-patela{
            transition: transform 300ms ease-in-out;
            transform: scale(1.02);
            filter: sepia(100%) saturate(500%) hue-rotate(180deg);
          }
        }
      
        .joelho-patela{
          position: absolute;
          top: -4px;
          left: -4px;
          min-width: 28px;
          transition: transform 300ms ease-in-out;
        }
      }
    }
  }
}

.light{
  .home_container{
    .sidebar_container{
      .active{
        &::before{
          background-color: black;
        }
      }
    }
  }
}

.joelho2{
  position: absolute;
  width: 23px;
  height: 20px;
  bottom: 60px;
  border-radius: 10px;
  left: 264px;

  @media (max-width: 740px){
    bottom: 208px;
    left: 176px;
  }

  &:hover{
    .joelho-patela2{
      transition: transform 300ms ease-in-out;
      transform: scale(1.02);
      filter: sepia(100%) saturate(500%) hue-rotate(180deg);
    }
  }

  .joelho-patela2{
    position: absolute;
    top: -4px;
    left: -4px;
    min-width: 28px;
    transition: transform 300ms ease-in-out;
  }
}

.model_wrapper{
  h3{
    font-weight: 600;
    margin-bottom: 1rem;
  }

  ul{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    a{
      h4{
        @include flex-align(flex-start,center);
        gap: .3rem;

        .material-symbols-outlined{
          font-size: 1rem;
        }
      }
      &:hover{
        color: rgb(107, 3, 107);
        text-decoration: underline;
      }
    }
  }
}