@import 'src/styles/main.scss';

.home_container{
  display: flex;
  padding-top: 100px;  

  .main_container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .controls-wrapper{
      display: flex;
      gap: 1rem;
    }

    .material-symbols-outlined{
      cursor: pointer;
    }

    .transform-component-module_wrapper__SPB86{
      margin: 0 auto;
      position: relative;
      width: 80%;
      display: flex;
      align-items: center;

      @media (max-width: 815px){
        width: 90%;
      }
    
      .skeleton-full{
        margin: 0 auto;
        max-width: 650px;
        width: 75%;

        @media (max-width: 815px){
          width: 300px;
        }
      }

      .hip_btn{
        position: absolute;
        width: 150px;
        height: 170px;
        bottom: 317px;
        left: 245px;
        border-radius: 40%;
        outline: none;

        @media (max-width: 815px){
          width: 103px;
          height: 125px;
          bottom: 180px;
          left: 95px;
        }
      
        &:hover{
          .hip{
            transition: transform 300ms ease-in-out;
            filter: sepia(100%) saturate(500%) hue-rotate(180deg);
          }
        }
      
        .hip{
          position: absolute;
          top: -2px;
          left: -2px;
          width: 150px;
          transition: transform 300ms ease-in-out;

          @media (max-width: 815px){
            top: 4px;
            left: 4px;
            width: 93px;
          }
        }
      }
    
      .knee_btn{
        position: absolute;
        width: 130px;
        height: 170px;
        bottom: 134px;
        left:250px;
        outline: none;

        @media (max-width: 815px){
          width: 90px;
          height: 90px;
          bottom: 85px;
          left: 100px;
        }
      
        &:hover{
          .knee{
            transition: transform 300ms ease-in-out;
            filter: sepia(100%) saturate(500%) hue-rotate(180deg);
          }
        }
      
        .knee{
          position: absolute;
          top: -14px;
          left: 6px;
          width: 127px;
          transition: transform 300ms ease-in-out;

          @media (max-width: 815px){
            top: -23px;
            left: 7px;
            width: 79px;
          }
        }
      }

      .ankle_btn{
        position: absolute;
        width: 140px;
        height: 140px;
        bottom: 0px;
        border-radius: 10px;
        left: 250px;
        border-radius: 200px 200px 0px 3px;
        -moz-border-radius: 200px 200px 0px 3px;
        -webkit-border-radius: 200px 200px 0px 3px;
        outline: none;

        @media (max-width: 815px){
          width: 90px;
          height: 85px;
          bottom: 1px;
          left: 100px;
        }
      
        &:hover{
          .ankle{
            transition: transform 300ms ease-in-out;
            filter: sepia(100%) saturate(500%) hue-rotate(180deg);
          }
        }
      
        .ankle{
          position: absolute;
          top: 0px;
          left: -3px;
          width: 140px;
          transition: transform 300ms ease-in-out;

          @media (max-width: 815px){
            top: 3px;
            left: 4px;
            width: 83px;
          }
        }
      }
      
    }
  }
}

.light{
  .home_container{
    .sidebar_container{
      .active{
        &::before{
          background-color: black;
        }
      }
    }
  }
}


.model_wrapper{
  h3{
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  ul{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    a{
      h4{
        @include flex-align(flex-start,center);
        gap: .3rem;

        .material-symbols-outlined{
          font-size: 1rem;
        }
      }
      &:hover{
        color: rgb(107, 3, 107);
        text-decoration: underline;
      }
    }
  }
}