@import 'src/styles/main.scss';

.footer_container{
  width: 100%;
  @include flex-align(space-evenly, center);
  padding: 1.5rem;
  background: #FFFFFF;
  gap: 1rem;
  text-align: center;

  @media (max-width: 700px){
    flex-direction: column;
  }

  a{
    &:hover{
        font-weight: 700;
    }
  }

  .gitHub{
      a{
        display: flex;
        align-items: center;
        gap: .2rem;

        h3{
            font-size: 1.3rem;
        }
        
        .material-symbols-outlined{
            font-size: 1.2rem;
        }
    }
  }
}

.dark{
    .footer_container{
      background-color: #0A0A0A;
    }
  }